@model Study_Mate.Models.Subject

@{
    ViewData["PageTitle"] = Model.SubjectId == 0 ? "Add a new subject" : "Edit subject";
}
<div class="row">
    <div class="col-md-6">
        <div class="widget p-1">
            <form asp-action="Changes">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="SubjectId" value="@Model.SubjectId" />
                <div class="mb-3 m-md-1">
                    <div class='e-btn-group  custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Type" value="Studied" checked="@(Model.Type=="Studied")" />
                        <label class="e-btn" for="radioleft">Studied</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Goal" checked="@(Model.Type=="Goal")" />
                        <label class="e-btn" for="radiomiddle">Goal</label>
                    </div>
                    @*<span asp-validation-for="Type" class="text-danger"></span>*@
                </div>
                <div class="mb-3">
                    @*<label asp-for="Title" class="control-label"></label>
                    <input asp-for="Type" class="form-control" />*@
                    <p style="margin-bottom: -2px;">Name</p>
                    <ejs-textbox id="Title" placeholder="Subject Name" ejs-for="Title"></ejs-textbox>
                    <span asp-validation-for="Title" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <p style="margin-bottom: -2px;"></p>
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" class="form-control" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
