@model IEnumerable<Study_Mate.Models.Track>

@{
    ViewData["PageTitle"] = "Sessions";
    ViewData["PageActionText"] = "+ New Track";
    ViewData["PageActionUrl"] = "/Track/Changes";
}


<div class="row">
    <div class="col-md-14 align-content-center">
        <ejs-grid id="tracks" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="8"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Subject" field="SubjectTitleAndIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" type="date" format="MMM-dd-yyyy" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedSession" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
<script id="actionTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Track/Changes/${TrackId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Track/Delete/${TrackId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>